element.style {}

html[dir=ltr] ._64p9P {
    border-left: 1px solid var(--border-stronger);
}

html[dir] ._64p9P {
    padding-top: 28px;
    padding-bottom: 28px;
    cursor: default;
    background-color: var(--intro-background);
}

._64p9P {
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.dark * {
    scrollbar-color: rgba(var(--white-rgb), .16) transparent;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    font: inherit;
    font-size: 100%;
    vertical-align: initial;
    outline: none;
    padding: 0;
    margin: 0;
    border: 0;
}

.light *,
* {
    scrollbar-color: rgba(var(--black-rgb), .2) rgba(var(--white-rgb), .1);
    scrollbar-width: thin;
}

user agent stylesheet div {
    display: block;
}

body.dark {
    color: var(--primary);
}

.dark {
    --active-tab-marker: #00a884;
    --active-tab-marker-rgb: 0, 168, 132;
    --app-background: #111b21;
    --app-background-rgb: 17, 27, 33;
    --app-background-deeper: #0a1014;
    --app-background-deeper-rgb: 10, 16, 20;
    --app-background-stripe: transparent;
    --app-background-stripe-rgb: 0, 0, 0;
    --attach-media-drop-border: rgba(233, 237, 239, 0.2);
    --attach-media-drop-border-rgb: 233, 237, 239;
    --attach-media-drop-overlay: rgba(52, 70, 81, 0.3);
    --attach-media-drop-overlay-rgb: 52, 70, 81;
    --attachment-type-photos-color: #007bfc;
    --attachment-type-photos-color-rgb: 0, 123, 252;
    --attachment-type-camera-color: #ff2e74;
    --attachment-type-camera-color-rgb: 255, 46, 116;
    --attachment-type-documents-color: #7f66ff;
    --attachment-type-documents-color-rgb: 127, 102, 255;
    --attachment-type-catalog-color: #86a3b3;
    --attachment-type-catalog-color-rgb: 134, 163, 179;
    --attachment-type-quick-replies-color: #ffbc38;
    --attachment-type-quick-replies-color-rgb: 255, 188, 56;
    --attachment-type-orders-color: #009de2;
    --attachment-type-orders-color-rgb: 0, 157, 226;
    --attachment-type-contacts-color: #009de2;
    --attachment-type-contacts-color-rgb: 0, 157, 226;
    --attachment-type-polls-color: #ffbc38;
    --attachment-type-polls-color-rgb: 255, 188, 56;
    --attachment-type-stickers-color: #02a698;
    --attachment-type-stickers-color-rgb: 2, 166, 152;
    --audio-control-incoming: #848488;
    --audio-control-incoming-rgb: 132, 132, 136;
    --audio-control-outgoing: #d1d7db;
    --audio-control-outgoing-rgb: 209, 215, 219;
    --audio-progress-incoming: #63cb77;
    --audio-progress-incoming-rgb: 99, 203, 119;
    --audio-progress-outgoing: #599389;
    --audio-progress-outgoing-rgb: 89, 147, 137;
    --audio-progress-played-incoming: #49a1c8;
    --audio-progress-played-incoming-rgb: 73, 161, 200;
    --audio-progress-played-outgoing: #43abcd;
    --audio-progress-played-outgoing-rgb: 67, 171, 205;
    --audio-progress-metadata: hsla(0, 0%, 100%, 0.6);
    --audio-progress-metadata-rgb: 255, 255, 255;
    --audio-track-incoming: #343f46;
    --audio-track-incoming-rgb: 52, 63, 70;
    --audio-track-outgoing: #176b5b;
    --audio-track-outgoing-rgb: 23, 107, 91;
    --avatar-background: #111b21;
    --avatar-background-rgb: 17, 27, 33;
    Show All Properties (968 more)
}

body {
    font-family: Segoe UI, Helvetica Neue, Helvetica, Lucida Grande, Arial, Ubuntu, Cantarell, Fira Sans, sans-serif;
    color: var(--primary);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern";
    background-color: var(--app-background);
    background-image: linear-gradient(180deg, var(--app-background), var(--app-background-deeper));
}

body {
    line-height: 1;
}

.light,
:root {
    --active-tab-marker: #008069;
    --active-tab-marker-rgb: 0, 128, 105;
    --app-background: #eae6df;
    --app-background-rgb: 234, 230, 223;
    --app-background-deeper: #d1d7db;
    --app-background-deeper-rgb: 209, 215, 219;
    --app-background-stripe: #00a884;
    --app-background-stripe-rgb: 0, 168, 132;
    --attach-media-drop-border: rgba(11, 20, 26, 0.3);
    --attach-media-drop-border-rgb: 11, 20, 26;
    --attach-media-drop-overlay: hsla(0, 0%, 100%, 0.6);
    --attach-media-drop-overlay-rgb: 255, 255, 255;
    --attachment-type-photos-color: #007bfc;
    --attachment-type-photos-color-rgb: 0, 123, 252;
    --attachment-type-camera-color: #ff2e74;
    --attachment-type-camera-color-rgb: 255, 46, 116;
    --attachment-type-documents-color: #7f66ff;
    --attachment-type-documents-color-rgb: 127, 102, 255;
    --attachment-type-catalog-color: #3a5564;
    --attachment-type-catalog-color-rgb: 58, 85, 100;
    --attachment-type-quick-replies-color: #ffbc38;
    --attachment-type-quick-replies-color-rgb: 255, 188, 56;
    --attachment-type-orders-color: #009de2;
    --attachment-type-orders-color-rgb: 0, 157, 226;
    --attachment-type-contacts-color: #009de2;
    --attachment-type-contacts-color-rgb: 0, 157, 226;
    --attachment-type-polls-color: #ffbc38;
    --attachment-type-polls-color-rgb: 255, 188, 56;
    --attachment-type-stickers-color: #02a698;
    --attachment-type-stickers-color-rgb: 2, 166, 152;
    --audio-control-incoming: #9c8d8d;
    --audio-control-incoming-rgb: 156, 141, 141;
    --audio-control-outgoing: #6f8171;
    --audio-control-outgoing-rgb: 111, 129, 113;
    --audio-progress-incoming: #4ada80;
    --audio-progress-incoming-rgb: 74, 218, 128;
    --audio-progress-outgoing: #8da78f;
    --audio-progress-outgoing-rgb: 141, 167, 143;
    --audio-progress-played-incoming: #30b0e8;
    --audio-progress-played-incoming-rgb: 48, 176, 232;
    --audio-progress-played-outgoing: #29afdf;
    --audio-progress-played-outgoing-rgb: 41, 175, 223;
    --audio-progress-metadata: #8696a0;
    --audio-progress-metadata-rgb: 134, 150, 160;
    --audio-track-incoming: #e7e8e9;
    --audio-track-incoming-rgb: 231, 232, 233;
    --audio-track-outgoing: #c5e6c1;
    --audio-track-outgoing-rgb: 197, 230, 193;
    --avatar-background: #e9edef;
    --avatar-background-rgb: 233, 237, 239;
    Show All Properties (978 more)
}

:root {
    --dimmed: 0.5;
    --layer-0: -1;
    --layer-1: 100;
    --layer-2: 200;
    --layer-3: 300;
    --layer-4: 400;
    --layer-5: 500;
    --layer-6: 600;
    --layer-7: 700;
    --layer-8: 800;
    --layer-9: 900;
    --layer-10: 1000;
    --radius-thumb: 6px;
    --width-location-thumb: 270px;
    --font-family-monospace: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, Courier, monospace;
    --chat-spacing: 15px;
    --sticker-size-store: 72px;
    --sticker-size-details: 256px;
    --t-ease: cubic-bezier(0.1, 0.82, 0.25, 1);
    --radius-app: 3px;
    --h-pane-header: 59px;
    --blur-radius-thumbnail: 8px;
    --padding-psa-message: 22px;
    --padding-drawer-bottom: 32px;
    --padding-drawer-side: 24px;
    --sticker-size-panel: 100px;
    --compose-box-menu-item-width: 26px;
    --compose-box-menu-height: 52px;
    --compose-box-top-bottom-padding: 5px;
    --compose-box-left-right-padding: 16px;
    --compose-box-open-menu-width: 110px;
    --compose-box-full-open-menu-width: 152px;
    --compose-box-menu-item-spacing: 16px;
    --compose-box-menu-width-status-reply: 68px;
    --compose-box-open-menu-width-status-reply: 110px;
    --line-height-quoted: 20px;
    --line-height-quoted-author: 22px;
    --quoted-compose-height-full: 83px;
    --width-msg-bubble-with-media: 336px;
    --cell-height: 72px;
    --squircle-polygon: polygon(100% 50%, 100% 56.6%, 100% 59.3%, 100% 61.4%, 99.9% 63.2%, 99.9% 64.8%, 99.9% 66.2%, 99.8% 67.5%, 99.8% 68.7%, 99.7% 69.8%, 99.6% 70.8%, 99.5% 71.8%, 99.5% 72.8%, 99.4% 73.7%, 99.3% 74.6%, 99.1% 75.4%, 99% 76.3%, 98.9% 77%, 98.8% 77.8%, 98.6% 78.5%, 98.5% 79.2%, 98.3% 79.9%, 98.1% 80.6%, 98% 81.3%, 97.8% 81.9%, 97.6% 82.5%, 97.4% 83.1%, 97.2% 83.7%, 97% 84.3%, 96.8% 84.8%, 96.5% 85.4%, 96.3% 85.9%, 96% 86.4%, 95.8% 86.9%, 95.5% 87.4%, 95.3% 87.9%, 95% 88.3%, 94.7% 88.8%, 94.4% 89.2%, 94.1% 89.7%, 93.8% 90.1%, 93.4% 90.5%, 93.1% 90.9%, 92.8% 91.3%, 92.4% 91.7%, 92% 92%, 91.7% 92.4%, 91.3% 92.8%, 90.9% 93.1%, 90.5% 93.4%, 90.1% 93.8%, 89.7% 94.1%, 89.2% 94.4%, 88.8% 94.7%, 88.3% 95%, 87.9% 95.3%, 87.4% 95.5%, 86.9% 95.8%, 86.4% 96%, 85.9% 96.3%, 85.4% 96.5%, 84.8% 96.8%, 84.3% 97%, 83.7% 97.2%, 83.1% 97.4%, 82.5% 97.6%, 81.9% 97.8%, 81.3% 98%, 80.6% 98.1%, 79.9% 98.3%, 79.2% 98.5%, 78.5% 98.6%, 77.8% 98.8%, 77% 98.9%, 76.3% 99%, 75.4% 99.1%, 74.6% 99.3%, 73.7% 99.4%, 72.8% 99.5%, 71.8% 99.5%, 70.8% 99.6%, 69.8% 99.7%, 68.7% 99.8%, 67.5% 99.8%, 66.2% 99.9%, 64.8% 99.9%, 63.2% 99.9%, 61.4% 100%, 59.3% 100%, 56.6% 100%, 50% 100%, 43.4% 100%, 40.7% 100%, 38.6% 100%, 36.8% 99.9%, 35.2% 99.9%, 33.8% 99.9%, 32.5% 99.8%, 31.3% 99.8%, 30.2% 99.7%, 29.2% 99.6%, 28.2% 99.5%, 27.2% 99.5%, 26.3% 99.4%, 25.4% 99.3%, 24.6% 99.1%, 23.7% 99%, 23% 98.9%, 22.2% 98.8%, 21.5% 98.6%, 20.8% 98.5%, 20.1% 98.3%, 19.4% 98.1%, 18.7% 98%, 18.1% 97.8%, 17.5% 97.6%, 16.9% 97.4%, 16.3% 97.2%, 15.7% 97%, 15.2% 96.8%, 14.6% 96.5%, 14.1% 96.3%, 13.6% 96%, 13.1% 95.8%, 12.6% 95.5%, 12.1% 95.3%, 11.7% 95%, 11.2% 94.7%, 10.8% 94.4%, 10.3% 94.1%, 9.9% 93.8%, 9.5% 93.4%, 9.1% 93.1%, 8.7% 92.8%, 8.3% 92.4%, 8% 92%, 7.6% 91.7%, 7.2% 91.3%, 6.9% 90.9%, 6.6% 90.5%, 6.2% 90.1%, 5.9% 89.7%, 5.6% 89.2%, 5.3% 88.8%, 5% 88.3%, 4.7% 87.9%, 4.5% 87.4%, 4.2% 86.9%, 4% 86.4%, 3.7% 85.9%, 3.5% 85.4%, 3.2% 84.8%, 3% 84.3%, 2.8% 83.7%, 2.6% 83.1%, 2.4% 82.5%, 2.2% 81.9%, 2% 81.3%, 1.9% 80.6%, 1.7% 79.9%, 1.5% 79.2%, 1.4% 78.5%, 1.2% 77.8%, 1.1% 77%, 1% 76.3%, 0.9% 75.4%, 0.7% 74.6%, 0.6% 73.7%, 0.5% 72.8%, 0.5% 71.8%, 0.4% 70.8%, 0.3% 69.8%, 0.2% 68.7%, 0.2% 67.5%, 0.1% 66.2%, 0.1% 64.8%, 0.1% 63.2%, 0% 61.4%, 0% 59.3%, 0% 56.6%, 0% 50%, 0% 43.4%, 0% 40.7%, 0% 38.6%, 0.1% 36.8%, 0.1% 35.2%, 0.1% 33.8%, 0.2% 32.5%, 0.2% 31.3%, 0.3% 30.2%, 0.4% 29.2%, 0.5% 28.2%, 0.5% 27.2%, 0.6% 26.3%, 0.7% 25.4%, 0.9% 24.6%, 1% 23.7%, 1.1% 23%, 1.2% 22.2%, 1.4% 21.5%, 1.5% 20.8%, 1.7% 20.1%, 1.9% 19.4%, 2% 18.7%, 2.2% 18.1%, 2.4% 17.5%, 2.6% 16.9%, 2.8% 16.3%, 3% 15.7%, 3.2% 15.2%, 3.5% 14.6%, 3.7% 14.1%, 4% 13.6%, 4.2% 13.1%, 4.5% 12.6%, 4.7% 12.1%, 5% 11.7%, 5.3% 11.2%, 5.6% 10.8%, 5.9% 10.3%, 6.2% 9.9%, 6.6% 9.5%, 6.9% 9.1%, 7.2% 8.7%, 7.6% 8.3%, 8% 8%, 8.3% 7.6%, 8.7% 7.2%, 9.1% 6.9%, 9.5% 6.6%, 9.9% 6.2%, 10.3% 5.9%, 10.8% 5.6%, 11.2% 5.3%, 11.7% 5%, 12.1% 4.7%, 12.6% 4.5%, 13.1% 4.2%, 13.6% 4%, 14.1% 3.7%, 14.6% 3.5%, 15.2% 3.2%, 15.7% 3%, 16.3% 2.8%, 16.9% 2.6%, 17.5% 2.4%, 18.1% 2.2%, 18.7% 2%, 19.4% 1.9%, 20.1% 1.7%, 20.8% 1.5%, 21.5% 1.4%, 22.2% 1.2%, 23% 1.1%, 23.7% 1%, 24.6% 0.9%, 25.4% 0.7%, 26.3% 0.6%, 27.2% 0.5%, 28.2% 0.5%, 29.2% 0.4%, 30.2% 0.3%, 31.3% 0.2%, 32.5% 0.2%, 33.8% 0.1%, 35.2% 0.1%, 36.8% 0.1%, 38.6% 0%, 40.7% 0%, 43.4% 0%, 50% 0%, 56.6% 0%, 59.3% 0%, 61.4% 0%, 63.2% 0.1%, 64.8% 0.1%, 66.2% 0.1%, 67.5% 0.2%, 68.7% 0.2%, 69.8% 0.3%, 70.8% 0.4%, 71.8% 0.5%, 72.8% 0.5%, 73.7% 0.6%, 74.6% 0.7%, 75.4% 0.9%, 76.3% 1%, 77% 1.1%, 77.8% 1.2%, 78.5% 1.4%, 79.2% 1.5%, 79.9% 1.7%, 80.6% 1.9%, 81.3% 2%, 81.9% 2.2%, 82.5% 2.4%, 83.1% 2.6%, 83.7% 2.8%, 84.3% 3%, 84.8% 3.2%, 85.4% 3.5%, 85.9% 3.7%, 86.4% 4%, 86.9% 4.2%, 87.4% 4.5%, 87.9% 4.7%, 88.3% 5%, 88.8% 5.3%, 89.2% 5.6%, 89.7% 5.9%, 90.1% 6.2%, 90.5% 6.6%, 90.9% 6.9%, 91.3% 7.2%, 91.7% 7.6%, 92% 8%, 92.4% 8.3%, 92.8% 8.7%, 93.1% 9.1%, 93.4% 9.5%, 93.8% 9.9%, 94.1% 10.3%, 94.4% 10.8%, 94.7% 11.2%, 95% 11.7%, 95.3% 12.1%, 95.5% 12.6%, 95.8% 13.1%, 96% 13.6%, 96.3% 14.1%, 96.5% 14.6%, 96.8% 15.2%, 97% 15.7%, 97.2% 16.3%, 97.4% 16.9%, 97.6% 17.5%, 97.8% 18.1%, 98% 18.7%, 98.1% 19.4%, 98.3% 20.1%, 98.5% 20.8%, 98.6% 21.5%, 98.8% 22.2%, 98.9% 23%, 99% 23.7%, 99.1% 24.6%, 99.3% 25.4%, 99.4% 26.3%, 99.5% 27.2%, 99.5% 28.2%, 99.6% 29.2%, 99.7% 30.2%, 99.8% 31.3%, 99.8% 32.5%, 99.9% 33.8%, 99.9% 35.2%, 99.9% 36.8%, 100% 38.6%, 100% 40.7%, 100% 43.4%);
    --width-album-grid-bubble: 168px;
    --width-album-extra-padding: 3px;
    --width-media-portrait-bubble: 246px;
    --preview-thumb-size: 90px;
    --preview-thumb-size-small: 52px;
    --height-thumb-shade: 28px;
    --thumb-spacing: 6px;
    --thumb-width: 78px;
    --thumb-height: 78px;
    Show All Properties (414 more)
}

html[dir=ltr] ._64p9P:after {
    left: 0;
}

html[dir] ._64p9P:after {
    border-top: 6px solid var(--intro-border);
}

._64p9P:after {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    content: "";
}

::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
}

html[dir] .dark ::-webkit-scrollbar-thumb {
    background-color: rgba(var(--white-rgb), .16);
}

::-webkit-scrollbar-thumb,
html[dir] .light ::-webkit-scrollbar-thumb {
    background-color: rgba(var(--black-rgb), .2);
}

html[dir] .dark ::-webkit-scrollbar-track {
    background-color: initial;
}

::-webkit-scrollbar-track,
html[dir] .light ::-webkit-scrollbar-track {
    background: rgba(var(--white-rgb), .1);
}
